<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../EU-ASSISTANT.ico">
    <link rel="stylesheet" href="../static/main-page.css">

    <title>EU Assistant</title>
</head>
<body>

    <div id="container">
        <div id="hero-img"></div>
        <div id="hero">
            <div id="header">
                <div class="logo-div"><a href="../templates/mainpage.html"><img src="../EU ASSISTANT.png" alt="LOGO"></a></div>
                <ul><li><a href="#">Home</a></li><li><a href="#">About</a></li><li><a href="#Services"><button class="btn blue">Services</button></a></li></ul>
            </div>
            <div id="hero-section">
                <h1>Make the EU more accessible</h1>
                <h2>Want to do some shaming, get lost in EU data or discover the EU? You are in the right place.</h2>
                <a href="#Services"><button class="btn white">Discover</button></a>
                <div class="arrow"></div>
            </div>
        </div>
        <div id="services">

        </div>

        
        
        
    </div>
    
</body>
</html>