<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='meps_assistants.css')}}">

    <title>MEPs assistants</title>
</head>
<body>
    
    <div id="container">
        <h1>MEPs and their assistants</h1>

        <button class="btn blue" id="btn-download">Download the data</button>

        <table id="table-outcome">
            <tr>
                <th rowspan="3">MEPs</th>
                <th colspan="4">Accredited Parliamentary Asistants (APAs)</th>
                <th colspan="4">Local Assitants (LAs)</th>
            </tr>
            <tr>
                <th colspan="2">Regular</th>
                <th colspan="2">Grouping</th>
                <th colspan="2">Regular</th>
                <th colspan="2">Grouping</th>
            </tr>
            <tr id="arrows-tr">
                <th>
                    Total number
                    <div class="arrow-div" data-info="accredited"></div>
                </th>
                <th>
                    Average stay (days)
                    <div class="arrow-div" data-info="Avg_days_accredited"></div>
                </th>
                <th>
                    Total number
                    <div class="arrow-div" data-info="accredited assistants (grouping)"></div>
                </th>
                <th>
                    Average stay (days)
                    <div class="arrow-div" data-info="Avg_days_accredited assistants (grouping)"></div>
                </th>
                <th>
                    Total number
                    <div class="arrow-div" data-info="local"></div>
                </th>
                <th>
                    Average stay (days)
                    <div class="arrow-div" data-info="Avg_days_local"></div>
                </th>
                <th>
                    Total number
                    <div class="arrow-div" data-info="local assistants (grouping)"></div>
                </th>
                <th>
                    Average stay (days)
                    <div class="arrow-div" data-info="Avg_days_local assistants (grouping)"></div>
                </th>
            </tr>
            <tbody id="tbody">

            </tbody>
            
        </table>
    </div>

</body>
<script src="{{url_for('static', filename='meps_assistants.js')}}"></script>
</html>